{{#if success_message}}
	<div class="callout small success" data-closable>
		<strong>{{cfc success_message}}</strong>
		<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
{{/if}}

{{#if error_message}}
	<div class="callout small alert" data-closable>
		<strong>{{cfc error_message}}</strong>
		<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
{{/if}}

{{#if warning_message}}
	<div class="callout small warning" data-closable>
		<strong>{{cfc warning_message}}</strong>
		<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
{{/if}}

{{#if info_message}}
	<div class="callout small primary" data-closable>
		<strong>{{cfc info_message}}</strong>
		<button class="info_message-button" aria-label="Dismiss alert" type="button" data-close>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
{{/if}}

{{#if error}}
	<div class="callout small alert" data-closable>
		<strong style="color: rgb(200, 50, 50);">{{cfc error}}</strong>
		<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
{{/if}}